.content{
  margin: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 400px;
  white-space: nowrap;
}

.hd{
    background-color: beige;
    height: 110px;
}
.hd h1{
    position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
    text-align: center;
     
}

.post {
  width: 200px;
  height: 350px;
  display: inline-flex;
  flex-wrap: wrap;
  margin:10px;
  box-shadow: 6px;
  border-radius: 5%;
}

.post:hover {
  transform: scale(1.05);
  box-shadow: pink 0px 8px 24px 0px;
}

